:root {
  --shield-border-color: black;
}

.shield {
  height: 38px;
  width: 38px;
  border: 1px solid var(--shield-border-color);
  border-radius: 50% 50% 50% 50% / 12% 12% 88% 88%;
}

.small-shield {
  height: 13px;
  width: 13px;
  background: yellow;
  border: thin solid orange;
  border-radius: 50% 50% 50% 50% / 12% 12% 88% 88%;
  position: absolute;
  transform: translate(20%, 20%);
  text-align: center;
  font-size: 13px;
  color: orange
}

.battleTrackBox {  
  border-style: solid;
  border-width: thick thin;
  border-color: black;
  clear: both;
  vertical-align: top;
}

.little {
  height: 20px;
  width: 20px;
}

.big {
  height: 40px;
  width: 40px;
}

.horizontal {
  display: inline-block;
}

.royalAirForceRoundel {
  background: red;
  border-radius: 50%;
  height: 13px;
  width: 13px;
  position: absolute;
  box-shadow: 0 0 0 7px white, 0 0 0 12px blue;
  margin: 14px;
}

.red {
  background-color: red;
}

.tan {
  background-color: #c3d1b0;
}

.blue {
  background-color: blue;
}

.lightgrey {
  background-color: #cacbcc;
}

.grey {
  background-color: grey;
}

.green {
  background-color: #5e9743;
}

span.white-space-fix {
  margin-right: -4px;
}

.floatRight  {
  float: right;
}

.flex-container {
  display: inline-flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: normal;
  align-items: normal;
  align-content: normal;
}

.flex-items:nth-child(1) {
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
}

.ironCross {
  background: black;
  height: 40px;
  position: relative;
  width: 7px;
  margin-left: 1em;
}

.ironCross:after {
    background: black;
    content: "";
    height: 8px;
    left: -16px;
    position: absolute;
    top: 15px;
    width: 40px;
}

.marginLeft {
  margin-left: -1.25em;
}