.shield {
  border-radius: 50% 50% 50% 50% / 12% 12% 88% 88%;
  position: absolute;
}

.campaign-victory-points {
  height: 38px;
  width: 38px;
  border: 1px solid black;
  margin-left: 10px;
  margin-top: 10px;
}

.campaign-victory-points-value {
  position: relative;
  font-size: 26px;
  left: 13px
}

.victory-point-icon {
  height: 13px;
  width: 13px;
  background: yellow;
  border: thin solid orange;
  transform: translate(20%, 20%);
  text-align: center;
  font-size: 13px;
  color: orange;
  vertical-align: text-bottom;
}

.victory-point-icon-value {
  position: relative;
  top: -2px;
}

.battleTrackBox {
  border-style: solid;
  border-color: black;
  clear: both;
  vertical-align: top;
}

.battleSpace {
  margin: 1px;
  height: 60px;
  width: 60px;
}

.battle-space-value {
  position: relative;
  font-size: 26px;
  left: 13px;
  top: 15px;
}

.land-spaces {
  background-color: tan;
}

.shore-space {
  background: linear-gradient(to bottom left, tan 0%, tan 50%, blue 50%, blue 100%);
}

.bombing {
  
}
.little {
  height: 20px;
  width: 20px;
  border-width: thick thin;
}

.big {
  height: 40px;
  width: 40px;
  border-width: thick;
}

.horizontal {
  display: inline-block;
}

.royalAirForceRoundel {
  background: red;
  border-radius: 50%;
  height: 13px;
  width: 13px;
  position: absolute;
  box-shadow: 0 0 0 7px white, 0 0 0 12px blue;
  margin: 14px;
}

.red {
  background-color: red;
}

.tan {
  background-color: #c3d1b0;
}

.blue {
  background-color: blue;
}

.lightgrey {
  background-color: #cacbcc;
}

.grey {
  background-color: grey;
}

.green {
  background-color: #5e9743;
}

.black-background {
  background-color: black;
}

.white {
  color: white;
}

.black {
  color: black;
}

span.white-space-fix {
  margin-right: -4px;
}

.floatRight {
  float: right;
}

.flex-container {
  display: inline-flex;
  flex-direction: column
}

.ironCross {
  background: black;
  height: 40px;
  position: relative;
  width: 7px;
  margin-left: 1em;
}

.ironCross:after {
  background: black;
  content: "";
  height: 8px;
  left: -16px;
  position: absolute;
  top: 15px;
  width: 40px;
}

.marginRight {
  margin-left: -1.75em;
}

.marginLight {
  margin-left: 1.25em;
}

.marginLight {
  margin-left: 1.25em;
}

.center {
  padding: 30px;
}

#mainFactory {
  width: 35px;
  height: 20px;
  background-color: black;
  position: absolute;
  margin-left: 12px;
  margin-top: 27px;
}

#mainFactoryBase {
  width: 46px;
  height: 10px;
  background-color: black;
  position: absolute;
  margin-left: 7px;
  margin-top: 47px;
}

.mainFactoryTriangle {
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 0 0 5px 10px;
  border-color: transparent transparent black transparent;
  position: absolute;
}

#mainFactoryTriangle-left {
  margin-left: 12px;
  margin-top: 23px;
}

#mainFactoryTriangle-center {
  margin-left: 18px;
  margin-top: 23px;
}

#mainFactoryTriangle-right {
  margin-left: 24px;
  margin-top: 23px;
}

#main-factory-smokestack {
    width: 5px;
    height: 20px;
    background-color: black;
    position: absolute;
    margin-left: 35px;
    margin-top: 10px;
}

.sCloud {
  margin-top: 5px;
  margin-left: 35px;
	width: 5px;
	height: 2px;
	background-color: black;
	position: absolute;
	border-radius: 18px;
}

#sCloudTop {
  margin-top: 2px;
}

.window {
  width: 5px;
  height: 5px;
  background-color: #F5F19A;
  position: absolute;
  border: 1px solid #403F63;
}

#window-left {
  margin-left: 13px;
  margin-top: 34px;
}

#window-center {
  margin-left: 27px;
  margin-top: 34px;
}

#window-right {
  margin-left: 39px;
  margin-top: 34px;
}

.gears {
  font-size:24px;
  margin-top:34px;
}

.gears-value {
  font-size:24px;
  position: absolute;
  margin-left: 15px;
}
